In [4]:
import importlib
import pandas as pd
from keras.applications.efficientnet_v2 import (
    EfficientNetV2B0,
    EfficientNetV2B1,
    EfficientNetV2B2,
    EfficientNetV2B3,
)

from tensorflow.keras.applications import MobileNetV3Small, MobileNetV3Large

# importlib.reload(importlib.import_module(efficientNet.efficientnet_v2_modifikasi))
from efficientNet.efficientnet_v2_modifikasi import (
    EfficientNetV2B0Modifikasi,
    EfficientNetV2B1Modifikasi,
    EfficientNetV2B2Modifikasi,
    EfficientNetV2B3Modifikasi,
)

importlib.reload(importlib.import_module('efficientNet.efficientnet_v2_modifikasi'))

In [5]:
def reload():
    from efficientNet.efficientnet_v2_modifikasi import (
        EfficientNetV2B0Modifikasi,
        EfficientNetV2B1Modifikasi,
        EfficientNetV2B2Modifikasi,
        EfficientNetV2B3Modifikasi,
    )

    importlib.reload(importlib.import_module('efficientNet.efficientnet_v2_modifikasi'))

In [6]:
def compare_model_parameters(models):
    reload()
    results = []

    # Iterasi melalui setiap model
    for model_name, original_func, modified_func in models:
        # Model original
        model_original = original_func(include_top=False, weights=None)
        param_original = model_original.count_params()

        # Model modifikasi
        if modified_func is not None:
            model_modified = modified_func(include_top=False, weights=None)
            param_modified = model_modified.count_params()
        else:
            param_modified = "N/A"  # Jika tidak ada model modifikasi

        # Simpan hasil
        results.append({
            "Model": model_name,
            "Original Parameters": f"{param_original:,}".replace(",", "."),
            "Modified Parameters": f"{param_modified:,}".replace(",", ".") if param_modified != "N/A" else "N/A",
        })

    # Konversi hasil ke dalam DataFrame pandas
    return pd.DataFrame(results)

# List model original dan modifikasi
models = [
    ("EfficientNetV2B0", EfficientNetV2B0, EfficientNetV2B0Modifikasi),
    ("EfficientNetV2B1", EfficientNetV2B1, EfficientNetV2B1Modifikasi),
    ("EfficientNetV2B2", EfficientNetV2B2, EfficientNetV2B2Modifikasi),
    ("EfficientNetV2B3", EfficientNetV2B3, EfficientNetV2B3Modifikasi),
    ("MobileNetV3Small", MobileNetV3Small, None),
    ("MobileNetV3Large", MobileNetV3Large, None),
]

# Delete Block Comparison

## Block 1

In [8]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           5.914.144
1  EfficientNetV2B1           6.931.124           6.923.588
2  EfficientNetV2B2           8.769.374           8.761.838
3  EfficientNetV2B3          12.930.622          12.921.686
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 2

In [9]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           5.847.632
1  EfficientNetV2B1           6.931.124           6.817.844
2  EfficientNetV2B2           8.769.374           8.656.094
3  EfficientNetV2B3          12.930.622          12.754.270
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 3

In [10]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           5.779.408
1  EfficientNetV2B1           6.931.124           6.698.100
2  EfficientNetV2B2           8.769.374           8.466.110
3  EfficientNetV2B3          12.930.622          12.606.494
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 4

In [11]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           5.656.596
1  EfficientNetV2B1           6.931.124           6.568.928
2  EfficientNetV2B2           8.769.374           8.344.578
3  EfficientNetV2B3          12.930.622          12.308.672
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 5

In [12]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           4.947.336
1  EfficientNetV2B1           6.931.124           5.758.416
2  EfficientNetV2B2           8.769.374           7.426.542
3  EfficientNetV2B3          12.930.622          10.937.846
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 6

In [13]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           1.540.516
1  EfficientNetV2B1           6.931.124           1.977.816
2  EfficientNetV2B2           8.769.374           2.301.516
3  EfficientNetV2B3          12.930.622           3.244.318
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 4 & 5

In [16]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           4.680.012
1  EfficientNetV2B1           6.931.124           5.391.612
2  EfficientNetV2B2           8.769.374           6.997.138
3  EfficientNetV2B3          12.930.622          10.307.832
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 4 & 6

In [15]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312           1.277.800
1  EfficientNetV2B1           6.931.124           1.615.620
2  EfficientNetV2B2           8.769.374           1.876.720
3  EfficientNetV2B3          12.930.622           2.622.368
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A

## Block 5 & 6

In [14]:
compare_model_parameters(models)

              Model Original Parameters Modified Parameters
0  EfficientNetV2B0           5.919.312             558.812
1  EfficientNetV2B1           6.931.124             795.380
2  EfficientNetV2B2           8.769.374             947.676
3  EfficientNetV2B3          12.930.622           1.234.262
4  MobileNetV3Small             939.120                 N/A
5  MobileNetV3Large           2.996.352                 N/A